@model IEnumerable<BiscuitQualityAssuaranceSystem.Models.Complaint>

@{
    ViewBag.Title = "QualityCheckerTasks";
}


<table class="table table-hover">
    <tr><br /><br />
              <h2>My Complaints</h2>
    </tr><br /><br />
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality_Checker.Qc_F_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shift_Manager.SM_F_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Com_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Com_Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality_Checker.Qc_F_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift_Manager.SM_F_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Com_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Com_Status)
            </td>
            <td style="width:150px;">
                <div class="row">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Complaints", new { id = item.Com_ID })'">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Details", "Complaints", new { id = item.Com_ID })'">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>

                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Complaints", new { id = item.Com_ID })'">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </td>
        </tr>
    }

</table>

